video {
  width: 100%    !important;
  height: auto   !important;
}
.container .left-menu {
  width: 150px;
  margin-top: 5px;
  float: left;
}
.container .content {
  margin-left: 170px;
}
.container .content .course-img {
  float: right;
  margin-bottom: 10px;
  margin-left: 10px;
}
