video {
  width: 100%    !important;
  height: auto   !important;
}
.left-menu {
  width: 150px;
  margin-top: 5px;
  float: left;
}
 .card {
  margin-left: 170px;
}
.container .content .course-img {
  float: right;
  margin-bottom: 10px;
  margin-left: 10px;
}
.visited::after {
  content: " ✓";
  color: #2bc436;
}
.slider {
  width: 900px;
  overflow: hidden;
}
.slide {
  width: 900px;
  overflow: hidden;
}
.slider ul {
  width: 10000px;
  list-style: none;
}
.slider li {
  float: left;
}