<h2>Handicaping Example</h2>
<img class="img-thumbnail course-img" src="partials/page2/example.jpg" id="golfimg" alt="golfing image"/>
<p>Let's say that we have four golfers: Alex, Bob, Chris, and Dan, of various abilities who are in a competition against each other. Here are the players and their handicaps:</p>
<table border="1" cellpadding="3" cellspacing="0">
<tbody><tr>
<td>Alex</td>
<td>14.8</td>
</tr>

<tr>
<td>Bob</td>
<td>9.9</td>
</tr>
<tr>
<td>Chris</td>
<td>1.5</td>
</tr>
<tr>
<td>Dan</td>
<td>26.4</td>

</tr>
</tbody></table>